input { height: 57px; line-height: 50px; border-radius: 10px; border: 1px solid #ccc; font-size: 18px; }
input[type='checkbox']{ height: 12px; }
.closer { background: url('/images/closer.png'); width: 26px; height: 24px; float: right; display: block; z-index: 150; cursor: pointer; } 
.reveal { overflow-y: scroll; }
body { overflow-y: visible; font-family: Arial; }
.right { float: right; }
.inline-block { display: inline-block; float: left; }
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
.lightbox { width: 100%; height: 100%; display: none; position: fixed; top: 0px; z-index: 50; background: url('/images/lightbox.png'); }
#dialog.lightbox > div { display: none; margin-left: auto; margin-right: auto; }
#dialog input, #dialog select { height: 35px; line-height: 35px; border-radius: 5px; }
.lightbox > div {
	background: #fff;
    padding: 40px;
    width: 300px;
    height: 250px;
	top: 50%;
    position: relative;
    margin-top: -125px;
}
#navigation, #quick, #sidebar, #media { font-family: "Source Sans Pro", Helvetica, sans-serif; padding: 20px; font-size: 16px; font-weight: bold; color: #999; } 
#navigation { position: fixed; z-index: 10; top: 0px; background: #fff; width: 100%; padding: 0px; display: block; min-height: 68px; height: auto; }
#navigation a.fa-folder { text-decoration: none; margin-right:15px; padding: 5px; border-radius: 4px; }
#navigation .sub-menu { padding: 10px; }
#preview.sub-menu { 
	position: absolute;
    top: 68px;
    left: 0px;
    display: block;
    width: 100%;
    overflow-x: scroll;
	z-index: 500;
}
#preview.sub-menu > div.thumbnail-container {
	display: table-cell;
	vertical-align: bottom;	
	padding: 10px;
	border: 1px solid #fff;
	text-align: center;
	width: 20%;
	cursor: pointer;
}
#preview.sub-menu > div.thumbnail-container.hidden, #preview.sub-menu > div.thumbnail-container.no-show{
	display: none;
}
#preview.sub-menu > div.thumbnail-container.mid-zone{
	width: 0px;
	border: 1px dotted #fff;
	background-color: #292929;
}
#preview.sub-menu > div.thumbnail-container > div.thumbnail {
	/*transform: scale(0.20); /* 20% of the size of the actual slide which is 100% width of the screen */
	zoom: 33%;
}
a,a:link,a:visited{ color: red; }
a:hover{ color: #fff; background: red; }
input.btn, a.btn, button.btn { display: inline-block; padding: 15px; border: 1px solid red; border-radius: 10px; width: auto; margin: 10px; text-decoration: none; cursor: pointer;}
.filelist { display: none; }
.btn.mini { padding: 5px; font-size: 12px; }
.hidden { display: none; }
#quick.lightbox { padding: 0px; left: 0px; top: 0px; }
#quick > .wrapper { width: 50%; min-width: 300px; height: 300px; background: #fff; margin: auto; padding: 40px; text-align: center; top: 50%; position: relative; margin-top: -150px; z-index: 100; }
#sidebar, #media { position: absolute; right: 0px;  bottom: 0px; width: 80px; height: 50%; background: #fff; z-index: 1000; overflow-y: scroll; padding: 0px; overflow: hidden; }
#sidebar >div, #media > div { display: inline-block; padding: 10px; display: inline-block; float: left;  width: calc(100% - 90px); height: calc( 100% - 20px); }
#sidebar .tab, #media .tab { width: 50px; min-width: 50px; height: 100%; background: red; text-align: center; font-weight: bold; color: #fff; cursor: pointer; }
#sidebar .tab { background: #73d4cf; }
#media .tab:hover { background: #ec2045; }
#sidebar .tab:hover { background: #56cac4; }
#sidebar img, #media img { max-width: 90px; width: auto; height: auto; margin: 10px; }
#sidebar .refresh, #media .refresh { background:  url('/images/refresh_small.png'); width: 25px; height: 22px; display: inline-block; float: right; cursor: pointer; }
#sidebar .refresh:hover, #media .refresh:hover { 
    -webkit-filter: contrast(200%); /* Safari */
    filter: contrast(200%);
}
#media #uploader { height: calc(33% - 15px); margin-bottom: 0px; }
#media #media-container { height: 66%; }
#media #media-container #dir-gif { height: 30%; }
#media #dir-uploads {
	width: 500px;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;	
}
#sidebar { top: 0px; right: 0px; position: absolute; }
.submitter { animation: blinker 1s linear; animation-duration: 2s; }
#loader { width: 100%; height: 100%; display: none; background: url('/images/spinner.gif'); }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes blinker {  
  50% { opacity: 0; }
}
.reveal section img { margin: 5px; background: none; border: none; box-shadow: none; }
.req { color: red; }
span.quick-img > img { max-width: 14%; height: auto; text-align: center; vertical-align: middle; }
.row .col { display: inline-block; float: left; padding: 0 10px; }
.row .col.bordered{ border-left: 1px dotted #ccc; }
.colspan{
	
}
.col.colspan6 { width: calc(100% - 20px); display: block; }
.colspan6 .col.colspan5 {width: calc(83.24% - 20px) }
.colspan6 .col.colspan4 {width: calc(66.6% - 20px) }
.colspan6 .col.colspan3 {width: calc(50% - 20px) }
.colspan6 .col.colspan2 {width: calc(33.3% - 20px) }
.colspan6 .col.colspan1 {width: calc(16.56% - 20px) }
.slides section { 
	bottom: 0px !important;
    top: auto !important;
}
.dropzone .dz-preview { margin: 0px; }
.dropzone { min-height: 0px !important; }